.form-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

:global(.label) {
  text-align: left;
}

.form {
  min-width: 400px;
}

:global(.button.is-link).submit-button {
  background-color: #6103d3;
}

:global(.button.is-link).submit-button:hover {
  background-color: #6b02eb;
}

.oauth-login-container {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.oauth-login-container .google-btn {
  margin-top: -0.5rem;
}

.oauth-login-container .fb-btn {
  margin-top: 0.5rem;
}
