.main-container {
  background-color: rgb(250, 243, 243);
  border-radius: 10px;
  max-width: 900px;
  margin: 2rem auto 4rem auto;
  padding: 0.5rem 2rem 2rem 0.5rem;
  text-align: center;
}

.header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.photos-reviews-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-container {
  flex: 1;
  margin-right: -1rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 100%;
  border-radius: 10%;
}

.photo-container .profile {
  width: 100px;
  border-radius: 50%;
}

.photo-container .details :global(.tag.is-danger.is-light) {
  color: #9345f3;
  background-color: #eadcfa;
  font-weight: 800;
  font-size: 0.75rem;
}

.reviews-container {
  flex: 4;
  min-width: 600px;
  margin-bottom: 2rem;
}

.reviews-container .reviews {
  overflow-y: scroll;
  max-height: 250px;
  text-align: left;
}

.outer {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
