.content {
  font-size: 1.2rem;
  text-indent: 2rem;
  text-align: justify;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.container {
  background-color: rgb(250, 243, 243);
  border-radius: 10px;
  max-width: 800px;
  margin: 3rem auto;
  padding: 1rem 2rem;
}
