.content {
  font-size: 1.2rem;
  text-indent: 2rem;
  text-align: justify;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.container {
  background-image: linear-gradient(rgb(250, 243, 243), white);
  border-radius: 10px;
  max-width: 800px;
  margin: 2rem auto 4rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
