.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  position: relative;
}

.banner img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  object-position: 0 40%;
  filter: grayscale();
}

.banner-overlay {
  height: 300px;
  width: 100%;
  background-color: black;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0.2;
}

.quote {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.2rem;
  color: grey;
  margin-bottom: 4rem;
}

.quote .author {
  margin-top: 0.5rem;
  text-align: right;
  font-weight: 800;
}
