.container {
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.est-or-user-info {
  flex: 1;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.est-or-user-info .user-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}
.est-or-user-info .est-img {
  width: 75px;
  height: 75px;
  border-radius: 10%;
  object-fit: cover;
}

.est-or-user-info .date {
  margin-top: -0.3rem;
  font-size: 0.8rem;
}

.content {
  flex: 4;
  background-color: #f0e9fa;
  padding: 0.8rem;
  border-radius: 10px;
}

.ratings {
  display: flex;
  justify-content: space-around;
}

.ratings td {
  padding-right: 0.5rem;
}

.comment hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
