.container {
  margin-top: 2rem;
}

.ratings {
  margin-top: -1rem;
  width: 115px;
}

.reviews {
  margin-top: -0.5rem;
  background-color: #eee7fa;
  padding: 2rem 1rem 1rem;
  border-radius: 10px;
}

.ratings-and-comments {
  display: flex;
  justify-content: space-around;
}

.comment {
  margin-left: 2rem;
}

.comment p {
  margin-top: -1rem;
}

.comment p li {
  margin-bottom: -0.3rem;
}

.comment-form {
  margin: 1rem;
  text-align: center;
}

:global(.button.is-primary).submit {
  border: none;
  margin-top: 1rem;
  background-color: #6103d3;
}

:global(.button.is-primary).submit:hover {
  background-color: #6b02eb;
}

:global(.button.is-primary).submit:focus:not(:active) {
  box-shadow: none;
}
