.container {
  display: flex;
  margin-top: -1.5rem;
}

.container :global(.title.is-6).not-found {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.establishments {
  margin: 2rem;
  width: 60%;
}

.map {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  width: 40%;
}
