.search-result {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
  background-color: rgb(250, 243, 243);
  border-radius: 10px;
  position: relative;
}

.business-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 125px;
  height: 125px;
  margin-right: 1rem;
  object-fit: cover;
  cursor: pointer;
}

.business-info {
  margin-top: 0.7rem;
  margin-right: 1rem;
  width: 300px;
  cursor: pointer;
}

.business-info p {
  margin-top: -1.5rem;
}

.business-info .rating {
  width: 38%;
}

.contact-info p {
  margin-top: 1rem;
  font-size: 1rem;
}

.bookmark {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 2rem;
  cursor: pointer;
}
