.container {
  width: 100%;
  max-width: 950px;
  background-color: rgb(250, 243, 243);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  padding: 2rem;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.heading-container div {
  max-width: 600px;
}

:global(.title.is-2).name {
  margin-bottom: 0;
}

:global(.subtitle).address {
  padding-top: 0px;
}

.body-container {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.info {
  display: flex;
  width: 55%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hours-container {
  width: 38%;
}

.hours-container li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ratings-container table tbody tr td {
  padding-right: 5px;
}

.images-carousel {
  margin-top: 5px;
  width: 350px;
}

.sliderimg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.info {
  margin-left: 2rem;
  margin-top: 1rem;
}

:global(ul.alice-carousel__dots) {
  margin-top: 8px;
  padding-left: 20px;
}

:global(div.alice-carousel__prev-btn) {
  /* padding-top: 0;
  margin-top: 0;
  margin-left: -10px; */
  display: none;
}

:global(div.alice-carousel__next-btn) {
  /* padding-top: 0;
  margin-top: 0;
  padding-left: 3px;
  margin-left: 10px; */
  display: none;
}
